body {
  background-color: rgb(235, 235, 235);
}

.header {
  padding: 10px;
  height: 50px;
  background: #282d36;
  color: white;
  font-size: 1em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section {
  height: 210px ;
  width: 100%;
}

.sideMenuItem {
  float: left;
   width:25%;
}

.mainMenuItem {
  float: left;
  width:50%;
}

.menuContiner {
  width: 60%;
  float:right;
  text-align:center
}

.log {
  width: 20%;
  float:right;
  text-align:right;
}

.logo {
  width: 20%;
  hieght:100%;
  float:left
}

.sectionImge {
  float: Left;
  padding-Right: 10px
}

.white {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #282d36;
  color: white;
  text-align: center;
}
